In [12]:
import pandas as pd
import numpy as np

# 단위 백만원

df = pd.read_excel('data/for_ML/사회복지지출 금액 분류.xlsx')
df.head(3)

,Unnamed: 0,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,근로무능력관련급여,2209718,2652648,3179135,3825199,4759639,5231984,5840541,6350569,7049178,...,7642789,8311593,8479156,8665211,9544251,10083220.4,11354142.1,12510132.6,13977295.3,16190253.6
1,적극적노동시장프로그램,2313351,1428835,1342499,931917,938848,1022514,1074230,1255823,2606232,...,3308486,4495698,5248351,5365912,5538555,6051662.4,5454739.0,6856095.0,7086752.0,7290995.9
2,실업,470792,845109,834948,1030304,1448306,1751974,2074004,2434033,2865256,...,3561353,3676665,3883507,4156137,4547336,4895396.0,5264784.1,6737845.3,8545514.6,15140795.9

In [13]:
# 행 열 바꾸기
df = df.transpose()
df.head(3)

                    0            1       2
Unnamed: 0  근로무능력관련급여  적극적노동시장프로그램      실업
2000          2209718      2313351  470792
2001          2652648      1428835  845109

In [14]:
df.columns = df.iloc[0]
df = df[1:]

df

Unnamed: 0   근로무능력관련급여 적극적노동시장프로그램          실업
2000           2209718     2313351      470792
2001           2652648     1428835      845109
2002           3179135     1342499      834948
2003           3825199      931917     1030304
2004           4759639      938848     1448306
2005           5231984     1022514     1751974
2006           5840541     1074230     2074004
2007           6350569     1255823     2434033
2008           7049178     2606232     2865256
2009           7508763     4961445     4116404
2010           7040075     3815149     3686529
2011           7642789     3308486     3561353
2012           8311593     4495698     3676665
2013           8479156     5248351     3883507
2014           8665211     5365912     4156137
2015           9544251     5538555     4547336
2016        10083220.4   6051662.4   4895396.0
2017        11354142.1   5454739.0   5264784.1
2018        12510132.6   6856095.0   6737845.3
2019        13977295.3   7086752.0   8545514.6
2020        16190253.6   7290995.9  15140795.9

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 2000 to 2020
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   근로무능력관련급여    21 non-null     object
 1   적극적노동시장프로그램  21 non-null     object
 2   실업           21 non-null     object
dtypes: object(3)
memory usage: 672.0+ bytes